{% load staticfiles %}
<html>
    <head><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
           
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
           
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
          
         <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      
            <title>Rae's Blog</title></head>
            <body> <div class="page-header"> <h1><a href="/">Rae's Language Blog</a></h1></div>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <h2>One half Polyglot and One half Attentention Deficiet </h2>
                    <div><h3>Expanding the World, One Langague at a Time</h3>
                        <p>Hi there! My name is Rae. I am an aspiring polyglot.</div>
                  <div><a href=""> 
                    <div class="content container">
                        <div class="row">
                            <div class="col-md-8">
                                  {% block content %}
                                  {% endblock %}
                                         
                </div>
            </div>
        </div>
                   
     </body>
</html>
