{% load staticfiles %}
<html>
    <head><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
           
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
           
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
          
         <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      
            <title>Rae's Blog</title></head>
            <body> <div class="page-header"> <h1><a href="/">Rae's Language Blog</a></h1></div>
                <h2>One half Polyglot and One half Attentention Deficiet </h2>
                    <div><h3>Expanding the World, One Langague at a Time</h3>
               
                        <p>Hi there! My name is Rae. I am an aspiring polyglot.</div>
                  <div><a href=""> A <strong>Polyglot</strong></a> is a person that is
                     able to communicate in four or more languages easily. </div>
                  </p>
                  <em>The List So Far</em>
                    <ul><li>English...(duh)</li>
                    <li>Mandarin Chinese</li>
                        <li>Portuguese</li>
                        <li>Latin</li>
                        <li>Japanese</li>
                        <li>...and I deisgned this website using HTML,
                             Python or programming langues :D</li>

                    </ul>
                    <div class="content container">
                        <div class="row">
                            <div class="col-md-8">
                                {% for post in posts %}
                                    <div class="post">
                                        <div class="date">
                                         <p>published: {{ post.published_date }}</p>
                                        </div>
                                         <h1><a href="">{{ post.title }}</a></h1>
                                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
                    <p>I enjoy learning new lanagues and the righ cultures that they embody.
                        learning a new langue is NOT hard. You can learn whenever you want.
                        Any one that can communicate in one language, has all they need to learn 
                        another language.
                        <p> This blog is to help my self track my continued progress.
                            If my journey helps you on your own language journey, great. Don't feel the need to
                            compete with others' progress. This is a life long skill that will surely enrich your experiences. :)
                        </p>
                    </p>
                </body>
</html>